<a href="https://colab.research.google.com/github/HJSmiley/KHUDA_Pandas/blob/main/Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **데이터 분석을 위한 판다스: M, N, O**

## M. 데이터 병합하기

In [1]:
import pandas as pd

In [2]:
# 실습을 위한 데이터 프레임 만들기 1
adf = pd.DataFrame({"x1" : ["A","B","C"], 
                    "x2": [1,2,3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [3]:
# 데이터 프레임 만들기 2
bdf = pd.DataFrame({"x1" : ["A","B","D"], 
                    "x3": ["T","F","T"]})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [4]:
# 데이터 프레임 만들기 3
cdf = pd.DataFrame({"x1" : ["B","C","D"], 
                    "x2": [2,3,4]})
cdf

  x1  x2
0  B   2
1  C   3
2  D   4

### 70. 왼쪽 열을 축으로 병합하기

In [5]:
# x1을 키로 해서 병합, 왼쪽(adf)를 기준으로
# 왼쪽의 adf에는 D가 없으므로 해당 값은 NaN으로 변환합니다.
pd.merge(adf, bdf, how='left', on='x1')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

### 71. 오른쪽 열을 축으로 병합하기

In [6]:
# x1을 키로 해서 병합, 오른쪽(bdf)을 기준으로
# 오른쪽의 bdf에는 C가 없으므로 해당 값은 NaN으로 변환합니다.
pd.merge(adf, bdf, how='right', on='x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

### 72. 공통의 값만 병합하기

In [7]:
pd.merge(adf, bdf, how='inner', on='x1')

  x1  x2 x3
0  A   1  T
1  B   2  F

### 73. 모든 값을 병합하기

In [8]:
pd.merge(adf, bdf, how='outer', on='x1')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

### 74. 특정한 열을 비교하여 공통 값이 존재하는 경우만 가져오기

In [9]:
# adf와 bdf의 특정한 열을 비교하여 공통 값이 존재하는 경우만 가져옵니다.
# adf.x1열과 bdf.x1열은 A,B가 같다. 따라서 adf의 해당 값만 출력합니다.
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

### 75. 공통 값이 존재하는 경우 해당 값을 제외하고 병합하기

In [10]:
adf[~adf.x1.isin(bdf.x1)]  # 해당 값만 빼고 출력합니다.

  x1  x2
2  C   3

### 76. 공통의 값이 있는 것만 병합하기

In [11]:
pd.merge(adf, cdf)

  x1  x2
0  B   2
1  C   3

### 77. 모두 병합하기

In [12]:
pd.merge(adf, cdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

### 78. 어디서 병합되었는지 표시하기

In [13]:
pd.merge(adf, cdf, how='outer', indicator=True)

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

### 79. 원하는 병합만 남기기

In [14]:
pd.merge(adf, cdf, how='outer', indicator=True).query('_merge == "left_only"')

  x1  x2     _merge
0  A   1  left_only

### 80. merge 컬럼 없애기

In [15]:
pd.merge(adf, cdf, how='outer', indicator=True).query('_merge == "left_only"').drop(columns=['_merge'])

  x1  x2
0  A   1

## N.  데이터 가공하기

In [16]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 7],   # 열 이름을 지정해 주고 시리즈 형태로 데이터를 저장
        "b" : [8, 9, 10, 11],
        "c" : [12, 13, 14, 15]},
        index = [1, 2, 3, 4])  # 인덱스는 1,2,3으로 정해 줍니다.
df

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

### 81. 행 전체를 한 칸 아래로 이동하기

In [17]:
df.shift(1)

     a     b     c
1  NaN   NaN   NaN
2  4.0   8.0  12.0
3  5.0   9.0  13.0
4  6.0  10.0  14.0

### 82. 행 전체를 한 칸 위로 이동하기

In [18]:
df.shift(-1)

     a     b     c
1  5.0   9.0  13.0
2  6.0  10.0  14.0
3  7.0  11.0  15.0
4  NaN   NaN   NaN

### 83. 첫 행부터 누적해서 더하기

In [19]:
df.cumsum()

    a   b   c
1   4   8  12
2   9  17  25
3  15  27  39
4  22  38  54

### 84. 새 행과 이전 행을 비교하면서 최댓값 출력하기

In [20]:
df.cummax()

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

### 85. 새 행과 이전 행을 비교하면서 최솟값 출력하기

In [21]:
df.cummin()

   a  b   c
1  4  8  12
2  4  8  12
3  4  8  12
4  4  8  12

### 85. 첫 행부터 누적해서 곱하기

In [22]:
df.cumprod()

     a     b      c
1    4     8     12
2   20    72    156
3  120   720   2184
4  840  7920  32760

## O. 그룹별로 집계하기

In [23]:
# 실습을 위해 데이터를 불러옵니다.
!git clone https://github.com/taehojo/data.git 

# 15장의 주택 가격 예측 데이터를 불러 옵니다.
df = pd.read_csv("./data/house_train.csv")
df

Cloning into 'data'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 21 (delta 3), reused 20 (delta 2), pack-reused 0
Unpacking objects: 100% (21/21), 460.93 KiB | 6.31 MiB/s, done.

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

### 87. 그룹 지정 및 그룹별 데이터 수 표시

In [24]:
df.groupby(by="YrSold").size()   # 팔린 연도를 중심으로 그룹을 만든 후 그룹별 수 표시

YrSold
2006    314
2007    329
2008    304
2009    338
2010    175
dtype: int64

### 88. 그룹 지정 후 원하는 칼럼 표시하기

In [25]:
# 팔린 연도를 중심으로 그룹을 만든 후 각 그룹별로 주차장의 넓이를 표시합니다.
df.groupby(by="YrSold")['LotArea'].mean()

YrSold
2006    10489.458599
2007    10863.686930
2008    10587.687500
2009    10294.248521
2010    10220.645714
Name: LotArea, dtype: float64

### 89. 밀집도 기준으로 순위 부여하기

In [26]:
df['SalePrice'].rank(method='dense')   # 각 집 값은 밀집도를 기준으로 몇 번째인가

0       413.0
1       340.0
2       443.0
3       195.0
4       495.0
        ...
1455    315.0
1456    416.0
1457    528.0
1458    200.0
1459    222.0
Name: SalePrice, Length: 1460, dtype: float64

### 90. 최젓값을 기준으로 순위 부여하기

In [27]:
df['SalePrice'].rank(method='min')    # 각 집 값이 최젓값을 기준으로 몇 번째인가

0       1072.0
1        909.0
2       1135.0
3        490.0
4       1236.0
         ...
1455     828.0
1456    1076.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64

### 91. 순위를 비율로 표시하기

In [28]:
# 집 값의 순위를 비율로 표시합니다(0=가장 싼 집, 1=가장 비싼 집).
df['SalePrice'].rank(pct=True)

0       0.734247
1       0.622603
2       0.777740
3       0.342123
4       0.848973
          ...
1455    0.569863
1456    0.738356
1457    0.880137
1458    0.358904
1459    0.404795
Name: SalePrice, Length: 1460, dtype: float64

### 92. 동일 순위에 대한 처리 방법 정하기

In [29]:
# 순위가 같을 때 순서가 빠른 사람을 상위로 처리합니다.
df['SalePrice'].rank(method='first')

0       1072.0
1        909.0
2       1135.0
3        490.0
4       1236.0
         ...
1455     836.0
1456    1080.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64